@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@keyframes vignette-pulse {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
